@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: black;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 25px;
}

.head-h {
    color: #FFFFFF66;
    text-align: center;
}

.music {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 75vw;
}

.info {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}

.info > h5 {
  margin: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.album-pic {
  height: 300px;
  border-radius: 14px;
}

.footer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}