<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css" />
    <script>
      window.onload = () => {
        setInterval(() => {
          const date = new Date();
          document.getElementsByClassName("footer")[0].innerHTML =
            date.toLocaleString("ru");
        });
        setInterval(() => {
          window.location.reload();
        }, 5000);
      };
    </script>
  </head>
  <body>
    <div class="content">
      <h1 class="head-h">NOW PLAYING:</h1>
      <div class="music">
        <img src="{{ album_picture_url }}" alt="Album" class="album-pic" />
        <div class="info">
          <h5 class="title">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 120 120"
                fill="none"
              >
                <path
                  d="M31.4 110C35.5374 110 39.5053 108.356 42.4309 105.431C45.3564 102.505 47 98.5374 47 94.4C47 90.2626 45.3564 86.2947 42.4309 83.3691C39.5053 80.4436 35.5374 78.8 31.4 78.8C27.2626 78.8 23.2947 80.4436 20.3691 83.3691C17.4436 86.2947 15.8 90.2626 15.8 94.4C15.8 98.5374 17.4436 102.505 20.3691 105.431C23.2947 108.356 27.2626 110 31.4 110Z"
                  stroke="white"
                  stroke-width="7.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M104.2 84V23C104.2 10 96.05 8.2 87.8 10.45L56.6 18.95C50.9 20.5 47 25 47 31.5V94.35"
                  stroke="white"
                  stroke-width="7.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M47 47.6L104.2 32M88.6 99.6C92.7374 99.6 96.7053 97.9564 99.6309 95.0309C102.556 92.1053 104.2 88.1374 104.2 84C104.2 79.8626 102.556 75.8947 99.6309 72.9691C96.7053 70.0436 92.7374 68.4 88.6 68.4C84.4626 68.4 80.4947 70.0436 77.5691 72.9691C74.6436 75.8947 73 79.8626 73 84C73 88.1374 74.6436 92.1053 77.5691 95.0309C80.4947 97.9564 84.4626 99.6 88.6 99.6Z"
                  stroke="white"
                  stroke-width="7.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            {{ track_name }}
          </h5>
          <h5 class="artist">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 120 120"
                fill="none"
              >
                <path
                  d="M55 105C82.615 105 105 82.615 105 55C105 27.385 82.615 5 55 5C27.385 5 5 27.385 5 55C5 82.615 27.385 105 55 105Z"
                  stroke="white"
                  stroke-width="7.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M55 65C57.6522 65 60.1957 63.9464 62.0711 62.0711C63.9464 60.1957 65 57.6522 65 55C65 52.3478 63.9464 49.8043 62.0711 47.9289C60.1957 46.0536 57.6522 45 55 45C52.3478 45 49.8043 46.0536 47.9289 47.9289C46.0536 49.8043 45 52.3478 45 55C45 57.6522 46.0536 60.1957 47.9289 62.0711C49.8043 63.9464 52.3478 65 55 65Z"
                  stroke="white"
                  stroke-width="7.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            {{ album_name }}
          </h5>
          <h5 class="album">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 120 120"
                fill="none"
              >
                <path
                  d="M70 40H95M75 60H95M85 80H95M85 105H35C15 105 10 100 10 80V40C10 20 15 15 35 15H85C105 15 110 20 110 40V80C110 100 105 105 85 105Z"
                  stroke="white"
                  stroke-width="7.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M60 81.65C59.6635 78.1402 58.1093 74.8589 55.6071 72.3749C53.1048 69.8909 49.8121 68.3608 46.3 68.05C43.7728 67.8 41.2272 67.8 38.7 68.05C35.1913 68.3702 31.9039 69.9033 29.4035 72.3855C26.903 74.8677 25.3459 78.1437 25 81.65M42.5 56.45C44.9002 56.45 47.2021 55.4965 48.8993 53.7993C50.5965 52.1021 51.55 49.8002 51.55 47.4C51.55 44.9998 50.5965 42.6979 48.8993 41.0007C47.2021 39.3035 44.9002 38.35 42.5 38.35C40.0998 38.35 37.7979 39.3035 36.1007 41.0007C34.4035 42.6979 33.45 44.9998 33.45 47.4C33.45 49.8002 34.4035 52.1021 36.1007 53.7993C37.7979 55.4965 40.0998 56.45 42.5 56.45Z"
                  stroke="white"
                  stroke-width="7.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            {{ artist_name }}
          </h5>
        </div>
      </div>
      <div class="footer">01.01.1970, 00:00:00</div>
    </div>
  </body>
</html>
